body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  color: #393E41;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D3D0CB;
}

a {
  color: #393E41;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
